
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Labrada&display=swap');
h1 {
    font-family: 'Honk';

}
li {
    display: inline-block;
  }

body {
    background-color: #D71313;
    color: #EEEDED;
    font-family: 'Labrada';
    }
    
    nav {
        font-family: 'Slim Jim', 'Impact', 'Arial Black', sans-serif;
        background: black;
      }
      li {
        display: inline-block;
        padding: 1rem; 
        border-left: 1px solid rgb(213, 21, 21);
    
      }
      a {
        color: #EEEDED;
        text-decoration: none;
        
          border-bottom: 2px solid #E59934;
        }
      
        .text-center {
            text-align: center;
          }
                