
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Labrada&display=swap');
h1 {
    font-family: 'Honk';

}
li {
    display: inline-block;
  }

body {
    background-color: #D71313;
    color: #3a9e5b;
    font-family: 'Labrada';
    }
    
    nav {
        font-family: 'Slim Jim', 'Impact', 'Arial Black', sans-serif;
        background: black;
      }
      li {
        display: inline-block;
        padding: 1rem; /* not such a good idea */
        border-left: 1px solid rgb(213, 21, 21); /* neither is this */
        
      }
      a {
        color: rgb(192, 49, 49);
        text-decoration: none;
        
          border-bottom: 2px solid white;
        }
      